<footer class="site-footer h-card">
  <div class="wrapper">

    <h2 class="footer-heading">📌 Connect with me</h2>

    <ul class="contact-list">
      <li>
        <strong>LinkedIn:</strong>
        <a href="https://linkedin.com/in/muhammed-swafuvan" target="_blank">
          linkedin.com/in/muhammed-swafuvan
        </a>
      </li>

      <li>
        <strong>Email:</strong>
        <a href="mailto:swafvan.softpro@gmail.com">swafvan.softpro@gmail.com</a>
      </li>

      <li>
        <strong>Mobile:</strong> +91 8129 75 9898
      </li>
      <li>
        <strong>GitHub:</strong>
        <a href="https://github.com/m-swafuvan" target="_blank">
          github.com/m-swafuvan
        </a>
      </li>
    </ul>

  </div>
</footer>
